
.App-activities-outer-div{

  display: flex;
  flex-direction: column-reverse;

}



.App{
  display: flex;
  flex-direction: column;
  margin: 40px;
}

.App > div{
  margin-bottom: 20px;
}


.App-activities{

  border: 1px solid grey;
  padding: 10px;
  width: fit-content;
  border-radius: 10px;
  margin-bottom: 10px;
  background: #F1F1F1;
 /* color: white;
  background: #0F171E;*/

}

